<div class="container">
    <div class="row">
      <a class="btn btn=primary" routerLink="/admin">Back to List</a>
    </div>
    <div>
      <div class="form-group">
        <label>Buyer Name</label>
        <div class="form-control">{{bike.name}}</div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <div class="form-control">{{bike.email}}</div>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <div class="form-control">{{bike.phone}}</div>
      </div>
      <div class="form-group">
        <label>Bike Model</label>
        <div class="form-control">{{bike.model}}</div>
      </div>
      <div class="form-group">
        <label>Bike Serial Number</label>
        <div class="form-control">{{bike.serialNumber}}</div>
      </div>
      <div class="form-group">
        <label>Purchase Price</label>
        <div class="form-control">{{bike.purchasePrice}}</div>
      </div>
      <div class="form-group">
        <label>Purchase Date</label>
        <div class="form-control">{{bike.purchaseDate}}</div>
      </div>
    </div>
  </div>